.userWrapper{
    flex: 9;
}

.userName{
    display: flex;
    margin: 10px;
    gap: 10px;
}

.userDetail{
    color: rgb(2, 7, 12);
    font-weight: 500;
    position: absolute;
    top: 105px;
    font-size: 2rem;
}

.profileTopLeft{
    background-color: antiquewhite;
    flex:5;
    color: black;
   
    width: 100%;
    height: 400px;

}
.profileWall{
    width: 100%;
    height: 100%;
    filter: blur(8px);
    -webkit-filter: blur(2px);
    /* border-radius: 50%; */
    object-fit: cover;
    /* margin: 10px; */

}

.profileTopRight{
    /* background-color: rgb(203, 129, 32); */
    /* background: rgb(16, 16, 16); */
    background: linear-gradient(90deg, rgba(87,130,187,9) 0%, rgb(10, 10, 10) 50%);
    flex:5;
}

.profileTop{
    display: flex;
    
}

.profileBottomBar{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    color: black;
    margin: 20px;
    gap: -10px;
    width: 500px;
    margin-left: 25%;
    cursor: pointer;

}
.profileBottomBarDown{
    background-color: rgb(255, 246, 127);
    height: 100vh;
}

.rightbarFollowButton{
    margin-top: 30px;
    margin-bottom: 10px;
    border: none;
    background-color: #f2a618;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .rightbarFollowButton:focus{
    outline: none;
  }

 .userDetail{
    background-color: aqua;
    width: 30%;
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 2rem;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0.5rem 2rem 0 rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(0.25rem);
 }

 .bio{
    /* background-color: aliceblue; */
    margin: 20px;
    color: azure;
    font-size: 50px
 }
 .bioDisc{
    /* background-color: aqua; */
    padding: 50px;
    box-shadow: 0 0.5rem 2rem 0 rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(0.25rem);
 }