.container {
  height: 100vh;
}

.messenger {
  height: calc(100vh - 70px);
  display: flex;
}

.chatMenu {
  flex: 3.5;
}

.chatMenuInput,
.searchResults1 {
  width: 90%;
  padding: 10px 0;
}

.chatMenuInput {
  border: none;
  border-bottom: 1px solid gray;
}

.searchResults1 {
  position: absolute;
  top: 180px; /* Adjust top position based on your design */
  background-color: rgba(37, 37, 37, 0.666);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  backdrop-filter: blur(0.25rem);
  z-index: 1000;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.chatBox {
  flex: 5.5;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}

.chatOnline {
  flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}

/* Responsive Styles for Tablets */
@media screen and (max-width: 768px) {
  .chatMenu {
    flex: 1;
  }

  .chatMenuInput,
  .searchResults1 {
    display: none; /* Hide search input and results on smaller screens */
  }

  .chatBox {
    flex: 10;
  }

  .chatOnline {
    display: none; /* Hide chat online list on smaller screens */
  }
}

/* Responsive Styles for Phones */
@media screen and (max-width: 480px) {
  .messenger {
    /* flex-direction: column; */
  }

  .chatBox {
    height: 50vh; /* Adjust height for chat box */
    flex: none; /* Override the flex property for mobile */
  }

  .chatBoxTop,
  .chatBoxBottom {
    padding: 5px; /* Reduce padding on very small screens */
  }

  .chatMessageInput {
    width: calc(100% - 20px); /* Full width input on very small screens */
    height: 50px; /* Reduce height of the input */
  }

  .chatSubmitButton {
    width: 50px; /* Reduce width of the submit button */
    height: 30px; /* Reduce height of the submit button */
  }

  .noConversationText {
    font-size: 20px; /* Reduce font size for no conversation text */
  }
}
